Domain/Visits/Service References/DataServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" />
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="GetUserByIDResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="GetDoctorsListResult" nillable="true" type="q2:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializationsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecializationsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="GetSpecializationsListResult" nillable="true" type="q3:ArrayOfSpecialization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientVisits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientVisitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="GetPatientVisitsResult" nillable="true" type="q4:ArrayOfVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorVisits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorVisitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="GetDoctorVisitsResult" nillable="true" type="q5:ArrayOfVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="toUpdate" nillable="true" type="q6:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="toUpdate" nillable="true" type="q7:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDoctorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="toDelete" nillable="true" type="q8:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDoctorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="toDelete" nillable="true" type="q9:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="toAdd" nillable="true" type="q10:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DatabaseAccess.Model" minOccurs="0" name="toAdd" nillable="true" type="q11:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDoctorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>